<html>
	<head>
    	<title>輕鬆選課E把抓</title>
    	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    	<meta name="description" content="" />
    	<meta name="keywords" content="" />
    	<script src="js/jquery.min.js"></script>
    	<script src="js/skel.min.js"></script>
    	<script src="js/skel-layers.min.js"></script>
    	<script src="js/init.js"></script>
    	<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-xlarge.css" />
    	</noscript>
	</head>
    <body>
    	<!-- Header -->
    	<header id="header" class="skel-layers-fixed">
    		<h1><a href="https://i.nccu.edu.tw/Login.aspx?ReturnUrl=%2fdefault.aspxl">INCCU</a></h1>
			<nav id="nav">
				<ul>
					<li><a href="http://www.nccu.edu.tw/">政大首頁</a></li>
					<li><a href="/auth/logout">登出</a></li>
					<li><a href="/curriculum" class="button special">我的課表</a></li>
					<li><a href="/index" class="button special">課程查詢</a></li>
				</ul>
			</nav>
		</header>
		<div class=4u style="margin: auto">
			<br>
			<p style="text-align: center; margin: 0">搜尋結果</p>
			<br>
			<table style="text-align: center">
				<tr>
					<th style="text-align: center">color</th>
					<th style="text-align: center">Academy</th>
					<th style="text-align: center">Degree</th>
					<th style="text-align: center">Department</th>
				</tr>
				<%for(let i=0;i<academy.length;i++){%>
					<tr>
						<%if (academy[i] == 'literature') {%>
							<td style="background-color: black;"></td>
						<%}else if(academy[i] == 'science'){%>
							<td style="background-color: brown;"></td>
						<%}else if(academy[i] == 'society'){%>
							<td style="background-color: red;"></td>
						<%}else if(academy[i] == 'law'){%>
							<td style="background-color: orange;"></td>
						<%}else if(academy[i] == 'commerce'){%>
							<td style="background-color: yellow;"></td>
						<%}else if(academy[i] == 'foreign'){%>
							<td style="background-color: green;"></td>
						<%}else if(academy[i] == 'broadcast'){%>
							<td style="background-color: blue;"></td>
						<%}else if(academy[i] == 'international'){%>
							<td style="background-color: violet;"></td>
						<%}else if(academy[i] == 'education'){%>
							<td style="background-color: grey;"></td>
						<%}%>
						<td><%=value2name[academy[i]]%></td>
						<td><%=value2name[degree[i]]%></td>
						<td><%=value2name[department[i]]%></td>
					</tr>
				<%}%>
			</table>
    	</div>
		<div class="container">
            <form name="registerForm" action="/curriculum" method="post">
				<table>
					<tr>
						<th></th>
						<th>class</th>
						<th>teacher</th>
						<th>point</th>
						<th>time</th>
						<th>place</th>
						<th>department</th>
						<th>degree</th>
						<th>level</th>
					</tr>
						<%for(let i=0; i<course.length; i++){%>
						<tr>
							<td>
								<input type="checkbox" name="checkboxQuery" value="<%=course[i]._id%>">
						    </td>
							<td><%=course[i].class%></td>
							<td><%=course[i].teacher%></td>
							<td><%=course[i].point%></td>
							<td><%=course[i].time%></td>
							<td><%=course[i].place%></td>
							<td><%=value2name[course[i].department]%></td>
							<td><%=course[i].degree%></td>
							<td><%=course[i].level%></td>
						</tr>
						<%}%>
				</table>
				<input type="submit" value="加入課表">
            </form>
    	</div>


    </body>
</html>